<div class="jumbotron">
  <div class="container">
    <p><strong><%= comment.name %></strong></p>
    <p style="text-indent: 30px;"><%= comment.body %></p>
    <i><%= time_ago_in_words(comment.created_at) %> ago</i><br><br>
    <% if (user_signed_in? && (current_user.id == @post.user_id)) %>
      <p><%= link_to "Delete", [comment.post, comment], method: :delete, data: {confirm: "Are You Sure?" } %></p>
    <% end %>  
  </div>
</div>